.navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .nav-button {
    background-color: #555;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    margin: 0 5px;
  }
  
  .nav-logo img {
    height: 30px;
  }
  